{% extends 'base.html' %}
{% load static %}
{% block title %}Cart | Wired World{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/cart/index.css' %}">
{% endblock %}

{% block page_content %}

    <main>
    {% if not object_list %}
        <h1>Your cart is empty :(</h1>
    {% else %}
        <div class="shopping-cart">
            <div class="shopping-cart-header header">
                <h2>Shopping Cart</h2>
                <h2>{{ object_list|length }} Items</h2>
            </div>
            <div class="products-container">
                {% for cart in object_list %}
                    <div class="product-container">
                        <div class="image-container">
                            <a href="{% url 'details product page' pk=cart.product.pk %}"><img src="/media/{{ cart.product.image }}" alt="product image"></a>
                        </div>
                        <div class="product-details-container">
                            <a href="{% url 'details product page' pk=cart.product.pk %}"><h3>{{ cart.product.title }}</h3></a>
                            <a href="{% url 'remove item from cart' pk=cart.product.pk %}" class="remove-product-button">Remove</a>
                        </div>
                        <div class="product-stock-container">
                            <form method="POST" action="{% url 'update cart item quantity' pk=cart.product.pk %}">
                                <input name="quantity" type="number" min="0" max="{{ cart.product.stock }}" value="{{ cart.quantity }}" onchange="submit()">
                                {% csrf_token %}
                            </form>
                        </div>
                        <div class="product-price-container">
                            <p>{{ cart.get_price }} BGN</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="shopping-cart-footer">
                <a href="{% url 'home page' %}"><i class="fa-solid fa-arrow-left-long"></i> Continue Shopping</a>
            </div>
        </div>
        <div class="order-summary">
            <div class="order-summary-header header">
                <h2>Order Summary</h2>
            </div>
            <div class="order-summary-short-description">
                <p>ITEMS {{ object_list|length }}</p>
                <p class="order-summary-short-description-price">{{ total_price }} BGN</p>
            </div>
            <div class="order-summary-shipping-label-container">
                <p style="font-weight: bold">SHIPPING</p>
            </div>
            <div class="order-summary-shipping-container">
                {% if address %}
                    <p class="order-summary-shipping-container-address">{{ address }}</p>
                    <a href="{% url 'update address page' %}" class="order-summary-shipping-container-button">CHANGE</a>
                {% else %}
                    <a href="{% url 'add address page' %}" class="order-summary-shipping-container-button">ADD ADDRESS</a>
                {% endif %}
            </div>
            <div class="order-summary-place-order-container">
                <a href="#">PLACE ORDER</a>
            </div>
        </div>
    {% endif %}
    </main>

{% endblock %}