{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if object.first_name and object.last_name %}
        {{ object.first_name }} {{ object.last_name }} | Wired World
    {% else %}
        Details | Wired World
    {% endif %}
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/account/details.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        {% if object.image %}
            <img src="/media/{{ object.image }}" alt="profile image">
        {% else %}
            <img src="{% static 'images/default_user.svg' %}" alt="profile image">
        {% endif %}

        <form method="POST" action="{% url 'account details page' %}" enctype="multipart/form-data">
            {{ form.as_div }}
            {% csrf_token %}
            <button class="submit-btn">Update</button>
        </form>

        <div class="action-buttons">
            <a href="#">Reset password</a>
            <a href="{% url 'delete profile page' %}">Delete profile</a>
        </div>
    </main>

{% endblock %}