{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset | Wired World{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/account/password-reset-confirm.css' %}">
{% endblock %}

{% block page_content %}

    <main>
        <div>
            <h1>Enter new password</h1>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="POST">
                {{ form.as_div }}
                <input type="submit" value="Change my password">
                {% csrf_token %}
            </form>
        </div>
    </main>

{% endblock %}