div.helptext {
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

main div h1, p {
    text-align: center;
}

main div p {
    margin-bottom: 30px;
}

main div form {
    display: flex;
    flex-direction: column;
}

main div form div {
    display: flex;
    flex-direction: column;
}

main div form input[type='submit'] {
    margin-left: auto;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 5px 10px;
}

main div form input[type='submit']:hover {
    transition: 100ms;
    background-color: white;
    color: black;
}