main {
    text-align: center;
}

main p {
    margin-bottom: 50px;
}

main form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

main form input[type='submit'] {
    background-color: black;
    color: white;
    padding: 1px 5px;
}

main form input[type='submit']:hover {
    transition: 100ms;
    background-color: white;
    color: black;
}