{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.title }} | WiredWorld{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/product/details.css' %}">
{% endblock %}

{% block page_content %}
    <main>

        <img src="/media/{{ object.image }}" alt="product image">

        <section class="product-details-container">
            <h2 class="product-title">{{ object.title }}</h2>
            <p class="product-price">{{ object.price }} BGN</p>
            <div class="product-description">
                <p>{{ object.description|linebreaks }}</p>
            </div>
            <div class="action-container">
                {% if object.stock %}
                    <div>
                        <form method="POST" action="{% url 'details product page' pk=object.pk %}">
                            <input name="quantity" class="quantity-input" type="number" value="1" min="1" max="{{ object.stock }}">
                            <button {% if user.is_authenticated %}{% else %}disabled title="Login" {% endif %}>Add to cart</button>
                            {% csrf_token %}
                        </form>
                    </div>
                {% else %}
                    <p class="out-of-stock-label">Out of stock</p>
                {% endif %}
                {% if liked %}
                    <a class="like-button liked" href="{% url 'unlike product' pk=product.pk %}"><i class="fa-solid fa-heart"></i></a>
                {% else %}
                    <a class="like-button not-liked" href="{% url 'like product' pk=product.pk %}"><i class="fa-regular fa-heart"></i></a>
                {% endif %}
                {% if product_manager %}
                    <a class="product-edit-button" style="display: block" href="{% url 'edit product page' pk=product.pk %}">Edit</a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}