{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object.title }} | WiredWorld{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/product/details.css' %}">
{% endblock %}

{% block page_content %}
    <main>

        <img src="/media/{{ object.image }}" alt="product image">

        <section class="product-details-container">
            <h2 class="product-title">{{ object.title }}</h2>
            <p class="product-price">{{ object.price }} BGN</p>
            <p class="product-description">{{ object.description|linebreaks }}</p>
            {% if object.stock %}
                <div>
                    <form method="POST" action="{% url 'details product page' pk=object.pk %}">
                        <input name="quantity" class="quantity-input" type="number" value="1" min="1" max="{{ object.stock }}">
                        <button>Add to cart</button>
                        {% csrf_token %}
                    </form>
                </div>
            {% else %}
                <p class="out-of-stock-label">Out of stock</p>
            {% endif %}
        </section>
    </main>
{% endblock %}