<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset for WiredWorld account</title>
</head>
<body>
    <p>Hi,</p>

    <p>We received a request to reset the password for your WiredWorld account. If you didn't make this request, you can safely ignore this email. Otherwise, you can reset your password using the link below:</p>

    <a href="{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}">reset link</a>

    <p>Best Regards,<br>
    The Wired World Team</p>

</body>
</html>