{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        <h1>Empowering You in the Digital Age, One Connection at a Time</h1>

        {% if product_manager %}
            <form class="create-product" method="POST" action="{% url 'home page' %}" enctype="multipart/form-data">
                <h3>Add a product to the shop:</h3>
                {{ product_form.as_div }}
                {% csrf_token %}
                <button name="product-form">Create</button>
            </form>
            {% if form.errors %}
                <div class="error-message">
                    <p>There are errors in the form:</p>
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}

        <aside>
            <form method="POST" action="{% url 'home page' %}">
                <label for="category">Category:</label>
                <select id="category" name="category-form" onchange="submit()">
                    <option value=""></option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                {% csrf_token %}
            </form>
        </aside>

        <section class="cards">
            {% for product in object_list %}
                <div class="card">
                    <img src="/media/{{ product.image }}" alt="">
                    {% if product.stock <= 0 %}
                        <p class="out-of-stock">Out of stock</p>
                    {% endif %}
                    <div class="card-content">
                        <p class="card-title">{{ product.title }}</p>
                        <p class="card-description">{{ product.description|slice:"20" }}...</p>
                        <div class="card-buttons">
                            {% if product in liked_products %}
                                <a class="like-button liked" href="{% url 'unlike product' pk=product.pk %}"><i class="fa-solid fa-heart"></i></a>
                            {% else %}
                                <a class="like-button not-liked" href="{% url 'like product' pk=product.pk %}"><i class="fa-regular fa-heart"></i></a>
                            {% endif %}
                            {% if product_manager %}
                                <a class="card-edit-button card-button" style="display: block" href="{% url 'edit product page' pk=product.pk %}">Edit</a>
                            {% endif %}
                            <a class="card-details-button card-button" href="{% url 'details product page' pk=product.pk %}">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        <section class="paginating-container">
            <div class="paginating-counter">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </div>
            <div class="paginating-buttons">
                {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}"><i class="icon fa-solid fa-backward"></i></a>
                {% endif %}
                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}"><i class="icon fa-solid fa-forward"></i></a>
                {% endif %}
            </div>
        </section>
    </main>

{% endblock %}