{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Orders | Wired World{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/order/index.css' %}">
{% endblock %}

{% block page_content %}
    <main>
        {% if orders_table %}
            {% for order in orders_table %}
                <div class="order-container">
                    <div class="left-side">
                    {% for product in order %}
                        <p class="product-row"><a href="{% url 'details product page' pk=product.product.pk %}"><img style="width: 50px" src="/media/{{ product.product.image }}" alt="product image">{{ product.product.title }}</a>  X {{ product.quantity }} - {{ product.get_price }} BGN</p>
                    {% endfor %}
                    </div>
                        <div class="right-side">
                            <p class="order-date">{{ order|getOrderDate }}</p>
                            <p class="order-items-count">Items: {{ order|length }}</p>
                            <p class="order-total">Total: {{ order|getOrderTotal }} BGN</p>
                            <p class="order-button"><a href="{% url 'place order again' date=order|getOrderDate %}">Place order again</a></p>
                        </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 style="text-align: center">You haven't made any orders :(</h1>
        {% endif %}
    </main>

{% endblock %}