main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 80px;
}

main img {
    max-height: 600px;
}

main .product-details-container {
    background-color: lightgray;
    padding: 25px 30px;
}

.product-price {
    font-size: 26px;
}

.product-description p {
    margin-bottom: 12px;
}

main form input {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

main form button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.like-button {
    margin: auto 0;
}

.like-button i {
    font-size: 40px;
}

.liked {
    color: #1f5475;
}

.not-liked {
    color: black;
}

.product-edit-button {
    all: unset;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color: darkred;
    color: white;
    margin-left: auto;
}

.product-edit-button:hover {
    transition: 100ms;
    background-color: #1f5475;
}

.out-of-stock-label {
    font-size: 26px;
    font-weight: bold;
}

@media screen and (max-width: 1400px) {
    main img {
        max-height: 400px;
    }
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    main img {
        max-width: 400px;
        max-height: 400px;
    }

    main .product-details-container {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
}