main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main form div input {
    width: 100%;
}

main form button {
    all: unset;
    width: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

main form button:hover {
    transition: 100ms;
    background-color: white;
    color: black;
}